<extend name="Common/base"/>

<block name="body">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="admin.php">首页</a>
            </li>
            <li><a href="{:U('Nav/classindex')}">导航管理</a></li>
            <li>添加导航</li>
        </ul><!-- /.breadcrumb -->


        <!-- /section:basics/content.searchbox -->
    </div>

    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">

            <div class="row">
                <div class="col-xs-12">
                    <div class="table_form">
                        <form class="formname" method="post">
                            <input type="hidden" name="id" value="{$info.id}"/>
                            <div class="form_group">
                                <div class="form_txt">导航名称：</div>
                                <div class="form_input">
                                    <notempty name="info.name">
                                        {$info.name}
                                    <else/>
                                        <input type="text" name="name" size="50" maxlength="20" class="ip" value="{$info.name}" data-rule="导航名称:required;letters;" /><span>只能为字母，保存后不能更改</span>
                                    </notempty>
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="form_txt">导航标题：</div>
                                <div class="form_input">
                                    <input type="text" name="title" size="50" maxlength="20" class="ip" value="{$info.title}" data-rule="导航标题:required;" ></div>
                            </div>
                            <div class="form_group">
                                <div class="form_txt">主题模板：</div>
                                <div class="form_input">
                                    <input type="text" name="theme" size="40" maxlength="100" class="ip" value="{$info.theme}" readonly>
                                    <span><input type="button" value="选择" class="bnt_temp bnt_save"></span>
                                    <span><input type="button" value="清空" class="bnt_clear bnt_normal">　可以为空</span>
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="form_bnt">
                                    <button class="btn btn-white btn-info btn-round" type="submit">
                                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i> 保存
                                    </button>
                                    <a href="javascript:goback();" class="btn btn-white btn-warning btn-round">
                                        <i class="ace-icon fa fa-undo bigger-120 orange"></i>
                                        返回
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content-area -->
        </div><!-- /.page-content -->
    </div>
</block>
<block name="script">
    <script>
        //选择模板详情页面
        var theme_that;
        $(document).on('click', ".bnt_temp", function () {
            theme_that = $(this);
            layer.open({
                title: '主题选择',
                type: 1,
                shade: 0.2,
                area: '340px',
                content: "<div id='act_loading'><span class='ui-dialog-loading'>Loading..</span></div>"
            });
            $.ajax({
                url: 'admin.php/Nav/getThemeData',
                type: 'POST',
                async: false,
                success: function (data) {
                    $('#act_loading').replaceWith(data);
                }
            });
        });
        $(document).on('click','.theme_item',function(){
            var value = $(this).attr('attr_item');
            theme_that.parents(".form_input").find("input.ip").val('Nav/'+value);
            layer.closeAll();
        });
        $(".formname").MotorsSubmit({
            ajaxurl:"{:U('Nav/classadd')}",
            loadurl:"{:U('Nav/classindex')}"
        });
    </script>
</block>
