<extend name="Common/base"/>

<block name="body">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="admin.php">首页</a>
            </li>
            <li>
                <a href="{:U('Nav/classindex')}">{$classtitle}</a>
            </li>
            <li><span>菜单管理</span></li>
        </ul><!-- /.breadcrumb -->

        <!-- /section:basics/content.searchbox -->
    </div>

    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">

            <div class="row">
                <div class="col-xs-12">
                    <div class="nav_menu">
                        <ul>
                            <li>
                                <a href="{:U('Nav/add',array('classid'=>$classid))}">
                                    <span class="icon iconfont icon-liebiaoshouqi"></span>添加菜单
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="tablelist">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: center;min-width: 300px">菜单名称</th>
                                <th style="width: 66px">ID</th>
                                <th style="width: 60px">排序</th>
                                <th style="width: 70px">菜单类型</th>
                                <th style="width: 70px">状态</th>
                                <th style="width: 200px">管理</th>
                            </tr>
                            </thead>
                            <tbody>
                            <notempty name="list">
                            <volist name="list" id="v">
                                <tr class="item item{$v.id} child-tr child{$v.pid}" data-id="{$v.id}" data-pid="{$v.pid}">
                                    <td style="width: 200px;text-align: left;">
                                        <for start="1" end="$v['level']">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                        </for>
                                        <notempty name="v.sonid">
                                            <i class="tree-icon iconfont icon-liebiaozhankai"></i>
                                            <else/>
                                            <i class="tree-icon iconfont icon-zixunlanmu"></i>
                                        </notempty>
                                        {$v.title}
                                    </td>
                                    <td>{$v.id}</td>
                                    <td><input class="ord_input" type="text" value="{$v.ordnum}" maxlength="9" onkeyup="checkInt(this)"></td>
                                    <td>
                                        <if condition="$v['type'] eq 1">
                                            关联栏目
                                        <elseif condition="$v['type'] eq 2"/>
                                            关联内容
                                        <else/>
                                            外链
                                        </if>
                                    </td>
                                    <td>
                                        <if condition="$v['isshow'] eq 1">
                                            显示
                                            <else/>
                                            隐藏
                                        </if>
                                    </td>
                                    <td class="edit">
                                        <eq name="v.pid" value="0">
                                            <a href="{:U('Nav/add',array('pid'=>$v['id'],'classid'=>$classid))}">添加子菜单</a>
                                        </eq>

                                        <a href="{:U('Nav/add',array('id'=>$v['id']))}">编辑</a>
                                        <a class="delete" rel="{:U('Nav/del',array('id'=>$v['id']))}">删除</a>
                                    </td>
                                </tr>
                            </volist>
                            <tr class="table_bottom">
                                <td colspan="6">
                                    <a class="save_btn_sort" data-url="{:U('Nav/reSort')}">保存排序</a>
                                </td>
                            </tr>
                            <else/>
                                <tr>
                                    <td colspan="6">
                                        暂无数据
                                    </td>
                                </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content-area -->
    </div><!-- /.page-content -->
</block>