<extend name="Common/base"/>

<block name="body">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="admin.php">首页</a>
            </li>
            <li><a href="{:U('Book/Index',array('isprevpage'=>1))}">留言管理</a></li>
            <li>
                留言配置
            </li>
        </ul><!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>

    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">

            <div class="row">
                <div class="col-xs-12">
                    <div class="table_form">
                        <form class="form-horizontal formname" method="post">
                            <div class="form_group">
                                <div class="form_txt">留言开关：</div>
                                <div class="form_input">
                                    <label class="checklabel">
                                        <input name="bookOpen" type="radio" class="ace" value="1" <if condition="$bookConfig['bookopen'] eq 1">checked</if>>
                                        <span class="lbl"> 开启</span>
                                    </label>
                                    <label class="checklabel">
                                        <input name="bookOpen" type="radio" class="ace" value="0" <if condition="$bookConfig['bookopen'] eq 0">checked</if>>
                                        <span class="lbl"> 关闭</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="form_txt">留言审核：</div>
                                <div class="form_input">
                                    <label class="checklabel">
                                        <input name="bookLock" type="radio" class="ace" value="1" <if condition="$bookConfig['bookcheck'] eq 1">checked</if>>
                                        <span class="lbl"> 开启</span>
                                    </label>
                                    <label class="bookLock">
                                        <input name="bookLock" type="radio" class="ace" value="0" <if condition="$bookConfig['bookcheck'] eq 0">checked</if>>
                                        <span class="lbl"> 关闭</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="form_bnt">
                                    <button class="btn btn-white btn-info btn-round" type="submit">
                                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i> 保存
                                    </button>
                                    <a href="{:U('Book/Index',array('isprevpage'=>1))}" class="btn btn-white btn-warning btn-round">
                                        <i class="ace-icon fa fa-undo bigger-120 orange"></i>
                                        返回
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content-area -->
        </div><!-- /.page-content -->
    </div>
</block>
<block name="script">
    <script>
        $(".formname").MotorsSubmit({
            ajaxurl:"{:U('Book/bookConfig')}"
        });
    </script>
</block>
