<extend name="Common/base"/>

<block name="body">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="admin.php">首页</a>
            </li>
            <li>
                <span>站点设置</span>
            </li>
        </ul><!-- /.breadcrumb -->

        <!-- /section:basics/content.searchbox -->
    </div>

    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">

            <div class="row">
                <div class="col-xs-12">
                    <div class="table_form">
                        <form class="form-horizontal formname">
                            <form class="formname" method="post">
                                <div class="form_group">
                                    <div class="form_txt">网站名称：</div>
                                    <div class="form_input"><input type="text" name="webname" size="50" class="ip" value="{$setInfo.webname}" maxlength="100" data-rule="网站名称:required;"></div>
                                </div>
                                <div class="form_group">
                                    <div class="form_txt">运行模式：</div>
                                    <div class="form_input">
                                        <label class="checklabel">
                                            <input name="webmode" type="radio" class="ace" value="0" <if condition="$setInfo['webmode'] eq 0">checked</if>>
                                            <span class="lbl"> 伪静态</span>
                                        </label>
                                        <label class="checklabel">
                                            <input name="webmode" type="radio" class="ace" value="1" <if condition="$setInfo['webmode'] eq 1">checked</if>>
                                            <span class="lbl"> 静态</span>
                                        </label>
                                        <span>伪静态模式需要服务器支持，否则网站无法访问</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="form_txt">页面压缩：</div>
                                    <div class="form_input">
                                        <label class="checklabel">
                                            <input name="isgzip" type="radio" class="ace" value="1" <if condition="$setInfo['isgzip'] eq 1">checked</if>>
                                            <span class="lbl"> 开启</span>
                                        </label>
                                        <label class="checklabel">
                                            <input name="isgzip" type="radio" class="ace" value="0" <if condition="$setInfo['isgzip'] eq 0">checked</if>>
                                            <span class="lbl"> 关闭</span>
                                        </label>
                                        <span>开启后，将压缩页面代码和体积，提升打开速度</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="form_txt">数据缓存：</div>
                                    <div class="form_input">
                                        <label class="checklabel">
                                            <input name="iscache" type="radio" class="ace" value="1" <if condition="$setInfo['iscache'] eq 1">checked</if>>
                                            <span class="lbl"> 开启</span>
                                        </label>
                                        <label class="checklabel">
                                            <input name="iscache" type="radio" class="ace" value="0" <if condition="$setInfo['iscache'] eq 0">checked</if>>
                                            <span class="lbl"> 关闭</span>
                                        </label>
                                        <span>开启后，有利于提升系统运行速度</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="form_txt">缓存时间：</div>
                                    <div class="form_input">
                                        <input type="text" name="cachedate" size="50" maxlength="9" class="ip" value="{$setInfo.cachedate}" data-rule="缓存时间:required;digits"/><span>单位：秒，只能写数字，否则默认为：60</span></div>
                                </div>
                                <div class="form_group">
                                    <div class="form_txt">模板缓存：</div>
                                    <div class="form_input">
                                        <label class="checklabel">
                                            <input name="tempcache" type="radio" class="ace" value="1" <if condition="$setInfo['tempcache'] eq 1">checked</if>>
                                            <span class="lbl"> 开启</span>
                                        </label>
                                        <label class="checklabel">
                                            <input name="tempcache" type="radio" class="ace" value="0" <if condition="$setInfo['tempcache'] eq 0">checked</if>>
                                            <span class="lbl"> 关闭</span>
                                        </label>
                                        <span>开启后，修改模板需要先删除模板缓存才能看到效果</span>
                                    </div>
                                </div>
                                <div class="form_group">
                                    <div class="form_txt">ICP备案号：</div>
                                    <div class="form_input"><input type="text" name="webicp" size="50" maxlength="20" class="ip" value="{$setInfo.webicp}" /></div>
                                </div>
                                <div class="form_group">
                                    <div class="form_txt">第三方统计：</div>
                                    <div class="form_input"><textarea name="webcount" cols="80" rows="4" class="tt" maxlength="255">{$setInfo.webcount}</textarea></div>
                                </div>

                                <div class="form_group">
                                    <div class="form_bnt">
                                        <button class="btn btn-white btn-info btn-round" type="submit">
                                            <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i> 保存
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </form>
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content-area -->
    </div><!-- /.page-content -->
</block>

<block name="script">
<script>
$(".formname").MotorsSubmit({
	ajaxurl:"{:U('Setting/index')}"
});
</script>
</block>