<extend name="Common/base"/>

<block name="body">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="admin.php">首页</a>
            </li>
            <li>
                <span>优化设置</span>
            </li>
        </ul><!-- /.breadcrumb -->

        <!-- /section:basics/content.searchbox -->
    </div>

    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">

            <div class="row">
                <div class="col-xs-12">
                    <div class="table_form">
                        <form class="form-horizontal formname" method="post">
                            <div class="form_group">
                                <div class="form_txt">优化标题：</div>
                                <div class="form_input"><textarea name="seotitle" cols="60" rows="4" onKeyUp="strlen_verify(this,'title_len',255)" class="tt">{$seoInfo.seotitle}</textarea>　还可输入<span id="title_len">{$seoInfo.seotitle|strLength=255}</span> 个字符　<br><span>附加在HTML源码的title标签内的文字</span></div>
                            </div>
                            <div class="form_group">
                                <div class="form_txt">站点关键字：</div>
                                <div class="form_input"><textarea name="seokey" cols="60" rows="4" onKeyUp="strlen_verify(this,'key_len',255)" class="tt">{$seoInfo.seokey}</textarea>　还可输入<span id="key_len">{$seoInfo.seokey|strLength=255}</span> 个字符　<br><span>META标签的keywords内容. 关键字之间使用 "," 分隔</span></div>
                            </div>
                            <div class="form_group">
                                <div class="form_txt">站点描述：</div>
                                <div class="form_input"><textarea name="seodesc" cols="60" rows="4" onKeyUp="strlen_verify(this,'description_len',255)" class="tt">{$seoInfo.seodesc}</textarea>　还可输入<span id="description_len">{$seoInfo.seodesc|strLength=255}</span> 个字符　<br><span>META标签的description内容</span></div>
                            </div>
                            <div class="form_group">
                                <div class="form_bnt">
                                    <button class="btn btn-white btn-info btn-round" type="submit">
                                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i> 保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content-area -->
    </div><!-- /.page-content -->
</block>

<block name="script">
    <script>
        $(".formname").MotorsSubmit({
            ajaxurl:"{:U('Setting/seoSetting')}"
        });
    </script>
</block>