<div id="master">
    <volist name="list" id="v">
        <div class="list-loop">
            <div class="info">
                <a href="javascript:;" defaultval="{$v.title}" class="remark" data-id="{$v.id}">
                    <span class="icon iconfont icon-edit1"></span> 重命名
                </a>
                <label>{$v.title}</label>
            </div>
            <volist name="v.newslist" id="vn">
                <eq name="key" value="0">
                    <div class="hover">
                        <div class="img">
                            <img src="{$vn.pic_id|getattachurl}">
                        </div>
                        <a href="javascript:;">{$vn.title}</a>
                    </div>
                <else/>
                    <div class="item">
                        <img src="{$vn.pic_id|getattachurl}">
                        <a href="javascript:;">{$vn.title}</a>
                    </div>
                </eq>
            </volist>
            <div class="admin">
                <ul>
                    <li>
                        <a href="{:U('Weixin/materAdd',array('id'=>$v['id']))}">
                            <span class="icon iconfont icon-edit"></span> 编辑
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="mater-del" data-id="{$v.id}">
                            <span class="icon iconfont icon-shanchu"></span> 删除
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </volist>
</div>

{$page}