<extend name="Common/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/weixin.css">
</block>
<block name="body">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="admin.php">首页</a>
            </li>
            <li><a href="{:U('Weixin/menu')}">菜单管理</a></li>
            <li><span><notempty name="info.id">编辑<else/>添加</notempty>菜单</span></li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">

            <div class="row">
                <div class="col-xs-12">
                    <div class="table_form">
                        <form class="form-horizontal keywordForm" method="post">
                            <input type="hidden" name="id" value="{$info.id}" />
                            <div class="form_group">
                                <div class="form_txt">菜单名称：</div>
                                <div class="form_input">
                                    <input type="text" class="ip" size="50" name="title" value="{$info.title}" data-rule="菜单名称:required;"/>
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="form_txt">上级菜单：</div>
                                <div class="form_input" style="width:200px;">
                                    <select name="pid" class="ip beautify_input">
                                        <notempty name="categoryInfo">
                                            <option value="{$categoryInfo.id}">{$categoryInfo.title}</option>
                                        <else/>
                                            <option value="0">作为一级菜单</option>
                                            <volist name="category" id="v">
                                                <option value="{$v.id}" <eq name="v.id" value="$info['pid']">selected</eq>>{$v.title}</option>
                                            </volist>
                                        </notempty>
                                    </select>

                                </div>
                            </div>
                            <div class="form_group">
                                <div class="form_txt">菜单类型：</div>
                                <div class="form_input" style="width:200px;">
                                    <select name="type" class="ip beautify_input" id="reply_type">
                                        <option value="" <if condition="empty($info)">selected</if>>请选择回复类型</option>
                                        <option value="1" <eq name="info.type" value="1">selected</eq>>文本回复</option>
                                        <option value="2" <eq name="info.type" value="2">selected</eq>>图文回复</option>
                                        <option value="3" <eq name="info.type" value="3">selected</eq>>外链</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form_group" id="reply_content" <neq name="info.type" value="1">style="display: none"</neq>>
                                <div class="form_txt">回复内容：</div>
                                <div class="form_input">
                                    <textarea name="content" rows="5" cols="50">{$materInfo.content}</textarea>
                                </div>
                            </div>
                            <div class="form_group" id="reply_id" <neq name="info.type" value="2">style="display: none"</neq>>
                                <div class="form_txt">素材选择：</div>
                                <div class="form_input">
                                    <div class="am-btn-group">
                                        <a class="btn btn-primary" href="javascript:;" id="select_master">选择素材</a>
                                        <a class="btn btn-primary" href="javascript:;" id="delete_master">清空素材</a>
                                    </div>
                                    <input type="hidden" name="mater_id" id="mater_id" size="50" value="{$materInfo.id}">
                                    <div class="master_box">
                                        <notempty name="materInfo">
                                            <include file="materInfo"/>
                                        </notempty>
                                    </div>
                                </div>
                            </div>
                            <div class="form_group" id="replay_url" <neq name="info.type" value="3">style="display: none"</neq>>
                                <div class="form_txt">链接网址：</div>
                                <div class="form_input">
                                    <input type="text" class="ip" size="50" name="url" value="{$info.url}" data-rule="链接网址:url;"/>
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="form_txt">排序：</div>
                                <div class="form_input">
                                    <input type="text" class="ip" size="50" name="sort" value="{$info.sort}"/>
                                    <span>数字越小越靠前</span>
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="form_txt">是否显示：</div>
                                <div class="form_input">
                                    <label class="checklabel">
                                        <input name="is_show" type="radio" class="ace" value="1" <neq name="info.is_show" value="0">checked</neq>>
                                        <span class="lbl"> 是</span>
                                    </label>
                                    <label class="checklabel">
                                        <input name="is_show" type="radio" class="ace" value="0" <eq name="info.is_show" value="0">checked</eq>>
                                        <span class="lbl"> 否</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form_group">
                                <div class="form_bnt">
                                    <button class="btn btn-white btn-info btn-round" type="submit">
                                        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i> 保存
                                    </button>
                                    <a href="{:U('Weixin/menu')}" class="btn btn-white btn-warning btn-round">
                                        <i class="ace-icon fa fa-undo bigger-120 orange"></i>
                                        返回
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content-area -->
    </div><!-- /.page-content -->
</block>
<block name="script">
    <script src="__PUBLIC__/Admin/js/weixin.js"></script>
    <script>
        /**
         * 保存
         */
        $(".keywordForm").MotorsSubmit({
            ajaxurl:"{:U('Weixin/menuAdd')}",
            loadurl:"{:U('Weixin/menu')}"
        });
    </script>
</block>




