<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<meta name="description" content="This is page-header (.page-header &gt; h1)" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


<link rel="stylesheet" href="__ASSETS__/css/bootstrap.min.css" />
<link rel="stylesheet" href="__ASSETS__/css/font-awesome.min.css" />
<link rel="stylesheet" href="__ASSETS__/css/ace.min.css" id="main-ace-style" />
<!--[if lte IE 9]>
<link rel="stylesheet" href="__ASSETS__/css/ace-part2.min.css" />
<![endif]-->
<link rel="stylesheet" href="__ASSETS__/css/ace-skins.min.css" />
<link rel="stylesheet" href="__ASSETS__/css/ace-rtl.min.css" />
<!--[if lte IE 9]>
<link rel="stylesheet" href="__ASSETS__/css/ace-ie.min.css" />
<![endif]-->
<!--[if lte IE 8]>
<script src="__ASSETS__/js/html5shiv.min.js"></script>
<script src="__ASSETS__/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__CCSS__/resest.css">
<link rel="stylesheet" href="__CCSS__/main.css?version={$Think.const.VERSION}" />
<link rel="stylesheet" href="__AFONT__/iconfont.css?version={$Think.const.VERSION}" />
<link rel="stylesheet" href="__ACSS__/main.css?version={$Think.const.VERSION}" />















